.main {
  text-align: center;
  width: 100%;
}
.main-profile {
  display: flex;
  padding: 10px;
}
.main-avatar {
  margin-right: 10px;
  width: 80px;
}
.main-name {
  font-weight: 700;
  font-size: 24px;
}