.main {
  padding: 15px;
  width: 100%;
}
.main-profile {
  display: flex;
  margin-bottom: 20px;
}
.main-profile-avatar {
  margin-right: 20px;
  width: 80px;
}
.main-profile-info {
  display: grid;
  padding: 10px 0;
  text-align: left;
}
.main-profile-name {
  font-weight: 700;
  font-size: 28px;
}
.main-profile-link {
  color: #666;
  font-weight: 300;
  text-decoration: none;
}
.main-repos {
  
}