.main {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.main-profile {
  display: flex;
  margin-bottom: 20px;
}
.main-profile-avatar {
  margin-right: 20px;
  width: 80px;
}
.main-profile-info {
  display: grid;
  padding: 10px 0;
  text-align: left;
}
.main-profile-name {
  font-weight: 700;
  font-size: 28px;
}
.main-profile-link {
  color: #666;
  font-weight: 300;
  text-decoration: none;
}
.main-repos {
  padding-right: 20px;
}
.main-repos-header,
.main-stargazers-header {
  border-bottom: solid 1px #000;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}
.main-repo-item,
.main-stargazer-item {
  align-items: center;
  border-bottom: solid 1px #999;
  height: 40px;
  padding: 5px 0;
}
.main-repo-item {
  display: grid;
}
.main-repo-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
}
.main-repo-stargazers-link {
  font-size: 12px;
}
.main-stargazer {
  align-items: center;
  display: flex;
  padding: 10px 0;
}
.main-stargazer-avatar {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
}
.main-stargazer-item {
  display: flex;
}
.main-stargazer-link {
  font-weight: bold;
  text-decoration: none;
}
.main-repos-user,
.main-stargazers-repo {
  font-weight: 100;
}
@media only screen and (min-device-width: 768px) {
  .main {
    box-sizing: border-box;
    display: flex;
    width: 768px;
  }
  .main-profile {
    flex-direction: column;
  }
  .main-profile-avatar {
    width: 180px;
  }
  .main-repos {
    width: 250px;
  }
  .main-stargazers {
    width: 250px;
  }
}